@font-face {
    font-family: squareFont;
    src: url(../font/Square.ttf);
}
*{
  padding: 0;
  margin: 0;
}
body, .main{
  height: 100%;
  width: 100%;
}
.canvasWrapper{
  height: 320px;
  width: 320px;
  line-height: 320px;
  align-items: center;
  margin-top: 200px;
  margin-left: 100px;
}
#canvas{
  -webkit-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.68);
}
