@font-face {
    font-family: squareFont;
    src: url(../font/Square.ttf);
}
*{
  padding: 0;
  margin: 0;
}
html, body, .main{
  height: 100%;
  width: 100%;
}
.canvasWrapper{
  height: 550px;
  width: 750px;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
}
#canvas{
  -webkit-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.68);
  -moz-box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.68);
  box-shadow: 0px 0px 18px 7px rgba(0,0,0,0.68);
  display: block;
}
.ui{
  height: 50px;
  width: 750px;
}
.ui>p{
  width: 120px;
  height: 50px;
  display: inline-block;
  background-color: lightgrey;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
  font-weight: bold;
}
#gameControl{
  display: inline-block;
  height: 50px;
  width: 120px;
  font-size: 1.25em;
}
