@font-face{
    font-family: 'Source Sans Pro', sans-serif;
}
@font-face {
    font-family: squareFont;
    src: url(../font/Square.ttf);
}
*{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  width: 100%;
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#imageHolder{
  float: left;
  margin-top: 80px;
}
#title{
  width: 400px;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
  font-family: squareFont, sans-serif;
  font-size: 5em;
}
.main{
  width: 500px;
  height: 100%;
  float: left;
  margin: 50px 0 0 350px;
}
#menu{
  width: 420px;
  height: 500px;
  box-sizing: border-box;
  margin: 50px auto 0;
}
#button{
  font-family: squareFont, sans-serif;
  font-size: 4em;
  text-decoration: none;
  display: block;
  background: #eb8950;
  width: 400px;
  height: 125px;
  margin: 10px auto 10px;
  text-align: center;
  line-height: 125px;
  border-radius: 10px;
}
a{
  display: block;
  text-decoration: none;
  border-radius: 10px;
}
a:hover, button:hover{
  background-color: #eb7950;
  border-radius: 10px;
}
