@font-face{
    font-family: 'Source Sans Pro', sans-serif;
}
@font-face {
    font-family: squareFont;
    src: url(../font/Square.ttf);
}
*{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  width: 100%;
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#imageHolder{
  float: left;
  margin-top: 80px;
}
#title{
  width: 400px;
  margin: 30px auto 0;
  position: relative;
  text-align: center;
  font-family: squareFont, sans-serif;
  font-size: 5em;
}
.main{
  width: 500px;
  height: 100%;
  float: left;
  margin: 50px 0 0 10%;
}
#menu{
  width: 420px;
  height: 500px;
  box-sizing: border-box;
  margin: 50px auto 0;
}
#button{
  font-family: squareFont, sans-serif;
  font-size: 4em;
  text-decoration: none;
  display: block;
  background: #eb8950;
  width: 400px;
  height: 125px;
  margin: 10px auto 10px;
  text-align: center;
  line-height: 125px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(235,137,80,0.9);
  -moz-box-shadow: 0px 0px 11px 0px rgba(235,137,80,0.9);
  box-shadow: 0px 0px 11px 0px rgba(235,137,80,0.9);
}
#button > a{
  display: block;
  text-decoration: none;
  border-radius: 10px;
}
#button > a:hover{
  background-color: #eb7950;
  border-radius: 10px;
}
#button > a:active{
  background-color: #eb7950;
  border-radius: 10px;
  color: red;
}
#button > a:visited{
  background-color: #eb7950;
  border-radius: 10px;
  color: blue;
}

#instructions{
  position: absolute;
  width: 1200px;
  height: 450px;
  margin-top: 200px;
  margin-left: 150px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.75);
  display: none;
}
#closeInstr{
  border: 2px solid darkgray;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1em;
  font-weight: bold;
  line-height: 50px;
  background: #eb8950;
  color: red;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(235,137,80,0.9);
  -moz-box-shadow: 0px 0px 11px 0px rgba(235,137,80,0.9);
  box-shadow: 0px 0px 11px 0px rgba(235,137,80,0.9);
}
